#title {
    background-color: rgba(43, 55, 111, .4);
}

#contents > #top > #input,
#contents > #top > #output,
#extension,
.unity-object-field-display {
    background-color: rgba(1, 1, 17, .8);
}

.unity-property-field,
.unity-base-field__input,
.unity-base-field {
    background-color: rgba(0, 0, 0, 0);
}

.currentNode #title {
    background-color: rgba(255, 0, 251, .3);
}